body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}

header {
    background-color: #0078d4;
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.8rem;
}

.slot-full {
    background-color: #8B0000; /* Dark Red */
    color: white;
    font-weight: bold;
    text-align: center;
}

select option.filled {
    background-color: #8B0000; /* Dark Red */
    color: white;
}
